@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	background: rgb(161, 161, 253);
}
ul{
	display: flex;
	list-style: none;
	width: 100%;
	margin-left: 0.2%;
}
header{
	display: flex;
	width: 100%;
	flex-direction: column;
	height: 150px;
	background: rgb(95, 95, 187);
}
a{
	text-decoration: none;
}
h1{
	margin-left: 39%;
	font-size: 40px;
	margin-top: 3.2%;
	margin-bottom: 1.1%;
}
nav{
	background-color: rgb(80, 233, 80);
	height: 40%;
	width: 100%;
}
.Link{
	width: 14.25%;
	height: 50px;
	font-size:20px;
	border-right:3px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Ubuntu', sans-serif;
}
main{
	margin-top:40px;
	margin-left: 30%;
	width: 40%;
	display: flex;
	background-color: #aefab4;
	border-radius: 12px;
}
main article{
	width:100%;
	padding: 10px;
}
main article h3{
	font-size: 22.5px;
	margin-left: 35%;
}
main article p{
	font-size: 15px;
}
footer{
	background:  #aefab4;
	margin-top: 40px;
	padding: 5px;
	width: 40%;
	margin-left: 30%;
	display: flex;
	justify-content: center;
	border-radius: 10px;
}
