@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Oswald:wght@700&family=Roboto+Slab:wght@800&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	background: rgb(161, 161, 253);
}
ul{
	display: flex;
	list-style: none;
	width: 100%;
	margin-left: 0.2%;
}
input{
	box-shadow: 0 0 0 0;
	outline: 0;
	border: 0 none;
}
header{
	display: flex;
	width: 100%;
	flex-direction: column;
	height: 150px;
	background: rgb(95, 95, 187);
	align-items: center;
}
a{
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
h1{
	font-size: 55px;
	margin-top: 3.2%;
	font-family: 'Oswald', sans-serif;
	color: #fff;

	font-size: 40px;
	margin-top: 3.2%;
	margin-bottom: 1.1%;
}
nav{
	background-color: rgb(80, 233, 80);
	height: 40%;
	width: 100%;
}
.Link{
	width: 14.25%;
	height: 50px;
	font-size:20px;
	border-right:3px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Ubuntu', sans-serif;
	color: #000;
}
.Link a:hover{
	transition:0.4s ease-in-out;
	background: rgb(171, 74, 216);
	padding: 1px;
	border-radius: 5px;
	text-decoration: underline;
	zoom: 120%;
	color: #fff;
}
main{
	margin-top:70px;
	color: #888;
}
main{
	margin-top:40px;
	margin-left: 30%;
	width: 40%;
	display: flex;
	background-color: #aefab4;
	border-radius: 12px;
}
main article,main form,main .Resultado{
	width:100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Input input{
	background: #aefab4;
	border-bottom: 3px solid #444;
}
main article h3{
	font-size: 22.5px;
	margin-top: 10px;
	margin-bottom: 5px;
	font-family: 'Roboto Slab', serif;
	color: #444;
}
main article p,.Input{
	font-size: 18px;
	color: #333;
	font-family: 'Nunito', sans-serif;
}
.Input{
	margin-bottom: 8px;
}
.Botoes{
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}
.Botoes input{
	width: 85px;
	height: 45px;
	border-radius: 10px;
	font-weight: bolder;
	cursor: pointer;
	background-color:rgb(80, 233, 80);
	color: #444;
	margin-right: 10px;
}
.Botoes input:hover{
	background-color:rgb(171, 74, 216);
	color: #fff;
	transition: 0.2s ease-in-out;
}
footer{
	background:  #aefab4;
	margin-top: 40px;
	padding: 5px;
	width: 40%;
	margin-left: 30%;
	display: flex;
	justify-content: center;
	border-radius: 10px;
	letter-spacing: 3px;
	font-size: 15px;
	color: #333;
	font-family: 'Nunito', sans-serif;
}
